@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #8B5CF6, #3B82F6);
  font-family: 'Poppins', sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.signup-card {
    padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-button {
  background: linear-gradient(to bottom right, #8B5CF6, #3B82F6) !important;
  color: white !important;
  border: none !important;
  font-weight: 600 !important;
}